<head>
  <title>AnonyNight</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- set favicon -->
  <link rel="shorcut icon" href="img/favicon.ico">
  <!-- style sheet -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/anonymous.css">
</head>
