<div class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand"><img alt="Brand" src="img/brand.png" ></div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/main">Feeds</a></li>
        <li><a href="/mypage">My page</a></li>
        <li><a href="#">Log out</a></li>
      </ul>
    </div>
  </nav>
</div>
