<html>
<head>
  <title><%= title %></title>

<!-- style sheet -->
  <link rel="stylesheet" href="css/anonymous.css">
</head>
<body>
  <div class="row">
    <nav>
      <ul>
        <li>nav section</li>
      </ul>
    </nav>
  </div>

  <div class="row">
    <div class="content-box">
      <div id="login-box">
        <h2>Login Section</h2>
        <a href="/main"><button type="button">login</button></a>
      </div>
    </div>
  </div>

  <!-- js -->
</body>
</html>
