<html>
<head>
  <title>AnonyNight</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- style sheet -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/anonymous.css">

</head>
<body>

  <div class="row">
    <div class="content-box">
      <div id="login-box">
        <div id="login-box-content">
          <h2>Login Section</h2>
          <a href="/main"><button class="btn btn-primary" type="button">login</button></a>
        </div>
      </div>
    </div>
  </div>

  <!-- js -->
  <!-- Latest compiled JavaScript -->
  <script src="js/bootstrap.min.js"></script>

</body>
</html>
