<html>
<% include ./partials/head %>
<body>

  <div class="row" ng-app="anony">
    <div class="content-box">
      <div id="login-box">
        <div id="login-box-align">
          <div id="login-box-content" ng-controller="loginControl" ng-cloak>
            <table class="table">
              <tr>
                <td>Email</td>
                <td>
                  <md-tooltip md-direction="right">Input your email address</md-tooltip>
                  <input type="email" placeholder="anony@example.com" ng-model="userData.user_email" style="width:100%;">
                </td>
              </tr>
              <tr>
                <td>Password</td>
                <td>
                  <md-tooltip md-direction="right">Input your password</md-tooltip>
                  <input type="password" pattern="^.{8,}$" placeholder="more than 8 characters" ng-model="userData.user_pwd" style="width:100%;">
                </td>

              </tr>
            </table>

            <button type="button" class="btn btn-primary theme-color" style="width:100%; margin-bottom:20px;" ng-click="signIn()">Sign in</button>
            <button type="button" class="btn btn-primary theme-color" style="width:100%; margin-bottom:20px;" ng-click="signUp()">Sgin up</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% include ./partials/script.ejs %>

</body>
</html>
