<!DOCTYPE html>
<html>
<head>
  <title>AnonyNight</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- set favicon -->
  <link rel="shorcut icon" href="img/favicon.ico">
  <!-- style sheet -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/anonymous.css">
</head>
<body>
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img alt="Brand" src="img/brand.png" ></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">My page</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="row">
    <div class="content-box">
      <!-- feed writing box -->
      <div class="row">
        <form class="feed-writing-box">
          <div>
            <label for="feedText">Feed</label>
            <textarea name="feedText" class="form-control" rows="4" placeholder="내용을 입력해 주세요."></textarea>
          </div>
          <div>
            <button type="button" class="btn btn-primary theme-color" id="btn-submit-feed">submit</button>
          </div>
        </form>
      </div>

      <div class="seperator"></div>

      <!-- show feed -->
      <div class="row">
        <div class="feed-box">
          <div class="feed-content">
            <p>Test log</p>
            <div class="feed-date"><p>2018-01-08</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Latest compiled JavaScript -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
