<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>
  <% include ./partials/nav %>

  <div class="row">
    <div class="content-box">
      <!-- feed writing box -->
      <div class="row">
        <form class="feed-writing-box">
          <div>
            <label for="feedText">Feed</label>
            <textarea name="feedText" class="form-control" rows="4" placeholder="내용을 입력해 주세요."></textarea>
          </div>
          <div>
            <button type="button" class="btn btn-primary theme-color" id="btn-submit-feed">submit</button>
          </div>
        </form>
      </div>

      <div class="seperator"></div>

      <!-- show feed -->
      <div class="row">
        <div class="feed-box">
          <div class="feed-content">
            <p>Test log</p>
            <div class="feed-date"><p>2018-01-08</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include ./partials/script %>
</body>
</html>
