<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body ng-app="anony">
  <% include ./partials/nav %>
  <div class="rows" ng-controller="myInfoController">
    <div class="content-box">
      <div class="row">
        <ul class="nav nav-tabs">
          <li role="presentation" ng-class="{ active : isActive('minfo') }"><a class="app-theme" href="" ng-click="getMyInfo()">My Info</a></li>
          <li role="presentation" ng-class="{ active : isActive('mfeed') }"><a class="app-theme" href="" ng-click="getMyFeed()">My Feed</a></li>
        </ul>
      </div>

      <div class="row">
        <div class="row">
          <div ng-show="isActive('minfo')">
            <div class="info-box app-theme">
              <div class="info-box-header">My info</div>
              <form ng-submit="updateInfo()">
                <table class="table table-borderless">
                  <tr>
                    <td>Email</td>
                    <td><input ng-model="user.user_email" type="email" style="background-color:#D3D3D3;" disabled></td>
                  </tr>
                  <tr>
                    <td>Current Password</td>
                    <td><input ng-model="current_pwd" pattern="^.{8,}$" title="insert more than 8 characters" type="password" required></td>
                  </tr>
                  <tr>
                    <td>New Password</td>
                    <td><input ng-model="change_pwd" pattern="^.{8,}$" title="insert more than 8 characters" type="password" required></td>
                  </tr>
                  <tr>
                    <td>Confirm New Password</td>
                    <td><input ng-model="confirm_pwd" pattern="^.{8,}$" title="differet with your new password" type="password" required></td>
                  </tr>
                </table>

                <button type="submit" class="btn btn-default btn-theme-color" style="width:100%">Confirm</button>
              </form>

            </div>
          </div>
        </div>

        <div class="row" style="padding:20px;">
          <div ng-show="isActive('mfeed')">
            <div class="feed-box" ng-repeat="x in feedBox">
              <div class="feed-content">
                <p>{{ x.feed_text }}</p>
                <div class="feed-date"><p>{{ x.feed_date }}</p></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <% include ./partials/script %>
</body>
</html>
