body{
  @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  height: 100%;
  /*background-color: 5F4B8B;*/
}

.error-page{
  background-image: url("../img/404.png");
}

.app-theme{
  color : #5F4B8B;
  font-weight: bold;
}

.btn-theme-color{
  background-color: #5F4B8B;
  border: 1px solid #5F4B8B;
  color: #D3D3D3;
}

.navbar{
  padding-left: 5px;
  padding-right: 5px;
}
.navbar-brand{
  padding: 0px;
}
.navbar-brand > img{
  height: 100%;
  padding: 15px;
  width: auto;
}

.content-box{
  margin-top : 5%;
  padding-left: 20%;
  padding-right: 20%;
}

.info-box{
  margin: 5%;
  margin-top: 10%;
  padding: 20px;
  border: solid 1px #D3D3D3;
  border-radius: 15px;
  background-color: white;
}

.info-box-header{
  font-weight: bold;
  font-size: 18pt;
  padding-bottom: 3px;
  margin-bottom: 20px;
  border-bottom: solid 1px #D3D3D3;
}

.feed-writing-box{
  padding: 20px;
  border: solid 1px #D3D3D3;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 30px;
  height: 50%;
}

.feed-box{
  padding: 20px;
  border: solid 1px #D3D3D3;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 5px #D3D3D3;
  margin-bottom: 20px;
}

.feed-content{
  width: 100%;
  padding: 5px;
  font-size: 13pt;
}

.feed-content .feed-date{
  text-align: right;
  font-size: 9pt;
  color: gray;
  margin-top: 5px;
}

.seperator{
  width: 100%;
  height: 5px;
  margin-bottom: 20px;
  background-color: #5F4B8B;
}

.table-borderless tr,
.table-borderless td,
.table-borderless th {
    border-top: none !important;
}

.table-borderless td input{
  width: 100%;
  border: 1px solid #D3D3D3;
  padding-left: 5px;
}

#login-box{
  margin-top: 10%;
  height: 80%;
  width: 100%;
  background-image: url("../img/back.jpg");
  background-size: cover;
}
#login-box-align{
  padding-top: 15%;
  margin-right: 10%;
  margin-left: 10%;
}
#login-box-content{
  color: #5F4B8B;
  display: block;
  padding: 20px;
  border: 1px solid #D3D3D3;
  border-radius: 20px;
  background-color: white;
}

#btn-submit-feed{
  margin-top: 10px;
  width: 100%;
}
