<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body ng-app="anony">
  <% include ./partials/nav %>
  <div class="rows" ng-controller="myInfoController">
    <div class="content-box" ng-init="showModal=false">
      <div class="row">
        <ul class="nav nav-tabs">
          <li role="presentation" ng-class="{ active : isActive('minfo') }"><a class="app-theme" href="" ng-click="getMyInfo()">My Info</a></li>
          <li role="presentation" ng-class="{ active : isActive('mfeed') }"><a class="app-theme" href="" ng-click="getMyFeed()">My Feed</a></li>
        </ul>
      </div>

      <div class="row">
        <div class="row">
          <div ng-show="isActive('minfo')">
            <div class="info-box app-theme">
              <div class="info-box-header">My info</div>
              <form ng-submit="updateInfo()">
                <table class="table table-borderless">
                  <tr>

                    <td>
                      <label for="email">Email</label>
                      <input ng-model="user.user_email" name="email" type="email" style="background-color:#D3D3D3;" disabled>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="current_pwd">Current Password</label>
                      <input ng-model="current_pwd" name="current_pwd" pattern="^.{8,}$" title="insert more than 8 characters" type="password" required>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="change_pwd">New Password</label>
                      <input ng-model="change_pwd" name="change_pwd" pattern="^.{8,}$" title="insert more than 8 characters" type="password" required>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="confirm_pwd">Confirm Password</label>
                      <input ng-model="confirm_pwd" name="confirm_pwd" pattern="^.{8,}$" title="differet with your new password" type="password" required>
                    </td>
                  </tr>
                </table>

                <button type="submit" class="btn btn-default btn-theme-color" data-toggle="modal" data-target="#infoModal" style="width:100%">Confirm</button>
              </form>

            </div>
          </div>
        </div>

        <div class="row" style="padding:20px;">
          <div ng-show="isActive('mfeed')">
            <div class="feed-box" ng-repeat="x in feedBox">
              <div class="feed-content">
                <p>{{ x.feed_text }}</p>
                <div class="feed-date"><p>{{ x.feed_date }}</p></div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div id="infoModal" class="modal fade" ng-show="showModal" role="dialog">
        <div class="modal-dialog modal-dialog-margin">
          <div class="modal-content">
            <div class="modal-header btn-theme-color">
              <h2>{{ modal.header }}</h2>
            </div>
            <div class="modal-body">
              <p>{{ modal.msg }}</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default btn-theme-color" data-dismiss="modal" ng-click="showModal=false">OK</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <% include ./partials/script %>
</body>
</html>
